<form [formGroup]="signupForm" (ngSubmit)="submitForm()">
<div class="row justify-content-center mt-3">
    <div class="col-md-3">
        <div class="card text-bg-light mb-3" style="max-width: 22rem;">
            <div class="card-header">Upload type</div>
            <div class="card-body">
              <h5 class="card-title">Click to choose an option</h5>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked (click)="changeUploadType()">
                <label class="form-check-label" for="flexRadioDefault1">
                  File Upload
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="changeUploadType()">
                <label class="form-check-label" for="flexRadioDefault2">
                  Text Input
                </label>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-bg-light mb-3" style="max-width: 22rem;">
            <!-- <div class="card-header">File upload options</div> -->
            <div class="card-body">
              <h5 class="card-title" *ngIf="fileUploadType">Upload a file</h5>
              <h5 class="card-title" *ngIf="!fileUploadType">Enter text</h5>
              <div class="row">
                <input class="form-control form-control" *ngIf="fileUploadType" id="formFileLg" type="file" (change)="onFileSelect($event)">
                <div class="form-floating" *ngIf="!fileUploadType">
                    <textarea class="form-control" placeholder="Enter text here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Text Input</label>
                </div>
            </div>
            <div class="row" *ngIf="isPasswordInputVisible">
                <span class="input-group-text" id="basic-addon1">Enter password</span>
                <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" (change)="optionalPasswordChecker()" formControlName="password">
            </div>
            
            <span class="help-block" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Please enter valid password</span>
            
            <div class="row" *ngIf="isTimerInputVisible">
                <span class="input-group-text" id="basic-addon1">Enter Timer</span>
                <div class="col">
                    <input type="number" max="2" min="0" class="form-control" placeholder="Hour" aria-label="Password" aria-describedby="basic-addon1" formControlName="hour">
                </div>
                <div class="col">
                    <input type="number" max="59" min="0" class="form-control" placeholder="Min" aria-label="Password" aria-describedby="basic-addon1" formControlName="min">
                </div>
                <div class="col">
                    <input type="number" max="59" min="0" class="form-control" placeholder="Sec" aria-label="Password" aria-describedby="basic-addon1" formControlName="sec">
                </div>
            </div>
            <div class="row mt-3">
                <button class="btn btn-primary md-3" [ngClass]="{
                    disabled: !isFormValid
                }">Submit</button>
            </div>
            </div>
        </div>
        <div class="row mt-1" *ngIf="isSubmitSuccess">
            <div class="alert alert-success"> 
                File upload Success
            </div>
        </div>
        <div class="row mt-1" *ngIf="downloadLink">
          <div class="alert alert-info"> 
            <p>Please use the following link to download the file</p>
            <p><b>{{ downloadLink }}</b></p>
          </div>
      </div>
        <div class="row mt-1" *ngIf="isSubmitSuccess != null && !isSubmitSuccess">
            <div class="alert alert-danger">
                File upload Failed
            </div>    
        </div>
    </div>
    <div class="col-md-3 ms-2">
        <div class="card text-bg-light mb-3" style="max-width: 22rem;">
            <div class="card-header">File upload options</div>
            <div class="card-body">
              <h5 class="card-title">Click to choose an option</h5>
              <div class="row mb-2">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" (click)="changePasswordInputVisibility()">
                <label class="btn btn-outline-success" for="btncheck1">Password</label>
            </div>
            <div class="row">
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" (click)="changeTimerInputVisibility()">
                <label class="btn btn-outline-success" for="btncheck2">Timer</label>
            </div>
            </div>
          </div>
        <!-- <div class="row">
            <p class="fs-3">Click to choose an option</p>
        </div>
        <div class="row mb-2">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" (click)="changePasswordInputVisibility()">
            <label class="btn btn-outline-success" for="btncheck1">Password</label>
        </div>
        <div class="row">
            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" (click)="changeTimerInputVisibility()">
            <label class="btn btn-outline-success" for="btncheck2">Timer</label>
        </div> -->
    </div>
</div>
</form>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <!-- <div #myModal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input #myInput type="text" class="form-control" placeholder="Focus me when modal opens">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
   -->